#==========================================

#DataBases(State Server - t3.micro)

#==========================================

POSTGRES_USER=cyberadmin
POSTGRES_PASSWORD=cyberpassword123
POSTGRES_DB=cyberrange
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

#==========================================
#
# Storage and Vectors (Compute Server - Spot)
#
#==========================================

MINIO_ROOT_USER=admin_minio
MINIO_ROOT_PASSWORD=supersecret_minio
MINIO_ENDPOINT=localhost:9000
MINIO_BUCKET_NAME=student-uploads

CHROMA_HOST=localhost
CHROMA_PORT=8000

#==========================================
#
# Security
#
#==========================================


JWT_SECRET=replace_this_with_a_long_random_string_in_production
JWT_ALGORITHM=HS256